<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net472" />
  <package id="FontAwesome.Sharp.Pro" version="5.15.3" targetFramework="net472" />
  <package id="FontAwesome.Sharp.StrongName" version="5.15.3.3" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net472" />
  <package id="SkiaSharp" version="2.80.3" targetFramework="net472" />
  <package id="SkiaSharp.Extended.Iconify" version="1.60.0" targetFramework="net472" />
  <package id="SkiaSharp.Extended.Iconify.FontAwesome" version="5.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
</packages>